# Node.js Configuration
NODE_ENV=development # production
# To disable SSL certificate verification, uncomment the following line
# NODE_TLS_REJECT_UNAUTHORIZED=0

# VOne Configuration
VONE_WEB_URL=
VONE_ADMIN_USERNAME=
VONE_ADMIN_PASSWORD=