# Node.js Configuration
NODE_ENV=development # production
# To disable SSL certificate verification, uncomment the following line
# NODE_TLS_REJECT_UNAUTHORIZED=0

PRODUCT_NAME=
WEB_URL=
ADMIN_USERNAME=
ADMIN_PASSWORD=

VSPC_VI_PLUGIN_ID=acfa09fe128645f09cd5b794d9d183d0