# Environment variables for E2E tests
# Copy this file to .env.test and fill in the actual values

PRODUCT_NAME=                   # One of: vbr,vspc,vone
WEB_URL=                        # URL of product web interface
ADMIN_USERNAME=                 # Admin username
ADMIN_PASSWORD=                 # Admin password
ACCEPT_SELF_SIGNED_CERT=true    # Accept self-signed certificates